# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
.Python
.venv/
venv/

# Logs
*.log

# OS
.DS_Store

# IDE
.idea/
.vscode/

# Flask
instance/

# Pytest
.pytest_cache/

# Build
build/
dist/
*.egg-info/

# Docker
*.tar
